@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates&family=Oswald:wght@300&display=swap');


body {

    margin: 0;
    padding: 0;
    background: #ECE5E4;
}

h1 {
    margin: 0 10px;
}

header {
    background: beige;
    overflow: hidden;
}

header ul li {
    float: left;
    list-style: none;

}

footer {
    background: #2b2724;
}

.navbar-pc {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;

}

.ad {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
}

.ad img {
    width: 100%;
}

.rating {
    color: #6CBEBF;
    margin: 0;
    font-size: 10px;
    width: 40%;
}
.item {
    overflow: hidden;
}
.inter_container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Mobile Phone */
@media (max-width: 426px) {

    .grid4, .grid5 {
        display: none;
    }

    .container {
        flex-direction: column;
        align-content: center;
    }

    #logo {
        width: 65vw;
    }

    .ad p {
        margin: 0 10px;
    }

    .item {

        margin: auto;
    }

    header ul {
        display: flex; /* Добавлено */
    }

    .p-menu1 > * {
        flex: 50%;
    }

    .name {
        font-size: 1em;
        color: red;
        margin: 0;
        text-transform: uppercase;
    }

    .p-menu1 {
        height: 100%;
        display: block;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar-pc {
        display: none;
    }

    .item-photo {
        width: 55vw;
        margin: auto;
    }

    .item {

    }

    .menu {
        display: none;
    }

    .price {
        font-size: 20px;
        margin: 0;
    }
    .suka {
        font-size: 20px;
        text-transform: uppercase;

    }
}

@media (min-width: 427px) {
    #logo {
        display: none;
    }

    .ad p {
        margin: 0 12px;
    }

    #logo-navbar {
        width: 40vw;
    }

    .p-menu1 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Tablet */
    .parent-container {
        display: grid;
        grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
        grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .grid1 {
        grid-area: 2 / 2 / 4 / 5;
    }

    .grid2 {
        grid-area: 1 / 1 / 2 / 6;
    }

    .grid3 {
        grid-area: 4 / 1 / 5 / 6;
    }

    .grid4 {
        grid-area: 2 / 1 / 4 / 2;
    }

    .grid5 {
        grid-area: 2 / 5 / 4 / 6;
    }


    .item {
        border: #2b2724 1px solid;
        flex: 1 0 calc(33.333% - 15px);
        max-width: calc(33.333% - 15px);
    }

    .hamburger1 {
        display: none !important;
    }

    #dropbtn {
        display: none;
    }

    header {

    }

    #logo {
        display: none;

    }

    #logo-navbar {
        width: 20vw;
    }

    .menu {
        display: block;
        overflow: hidden;
    }

    .name {
        font-size: 1.5em;
        color: greenyellow;

    }

    .item-photo {
        width: 100%;
    }
}

/* Laptop */
@media (min-width: 1024px) {

}

.name {
    font-weight: 700;
}


/* Beatiful Button */
.buy {
    background: #ffffff;
    color: black;
    font-family: 'Oswald', sans-serif;
    padding: 5px 17.5px;
    transition: all 0.3s;
    position: relative;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;

}

.buy:hover {
    background: #02333E;
    color: white;
    transition: all 0.3s;
}

.buy:active {
    top: 2px;
}

/* Dropdown */
#myDropdown {
    display: none;
}

/*Dropdown menu*/


/* Hamburger */
.hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
}

.hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1 {
    display: none;
}

#toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}


.hidden {
    display: none !important;
}

/* Menu */
.menu1 {
    width: 100%;
    background-color: #02333E;
    color: #ECE5E4;

    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.link1 {
    text-decoration: none;
    color: #ECE5E4;
}

.menu1 a:first-child {
    margin-top: 40px;
}

.menu1 a:last-child {
    margin-bottom: 40px;
}

.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}