@import url('https://fonts.googleapis.com/css2?family=Allura&family=Oswald:wght@300&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: beige;
    overflow: hidden;
}

header ul li {
    float: left;
    list-style: none;

}

footer {
    background: #2b2724;
}
.navbar-pc {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

/* Mobile Phone */
@media (max-width: 426px) {
    #logo {
        width: 65vw;
    }

    .description {
        font-size: 1.5em;
        color: red;
    }

    .navbar-pc {
        display: none;
    }

    .item-photo {
        width: 90vw;
        margin: auto;
    }

    .item {

    }

    .menu {
        display: none;
    }
}

@media (min-width: 427px) {
    #logo {
        display: none;
    }
    #logo-navbar {
        width: 40vw;
    }
}

/* Tablet */
@media (min-width: 700px) {
    .item {
        border: #2b2724 1px solid;
        flex: 1 0 calc(33.333% - 15px);
        max-width: calc(33.333% - 15px);
    }



    header {

    }

    #logo {
        display: none;

    }

    #logo-navbar {
        width: 20vw;
    }

    .menu {
        display: block;
        overflow: hidden;
    }

    .description {
        font-size: 1.5em;
        color: greenyellow;
    }

    .item-photo {
        width: 100%;
    }
}
/* Laptop */
@media (min-width: 1024px) {

}
/* Beatiful Button */
.buy {
    background: #ffffff;
    color: black;
    font-family: 'Oswald', sans-serif;
    padding: 10px 35px;
    transition: all 0.3s;
    position: relative;

}
.buy:hover {
    background: black;
    color: white;
    transition: all 0.3s;
}
.buy:active {
    top: 2px;
}
/* Dropdown */
#myDropdown {
    display: none;
}