<footer class="site-footer">
    <div class="footer-contact footer-block">
        <h4>Business Hours</h4>
        <p>Mon-Fri: 7:00 AM - 7:00 PM</p>
        <p>Sat-Sun: 8:00 AM - 6:00 PM</p>
    </div>
    <div class="footer-block">
        <h4>Latest news</h4>
        <div class="news-item">
            <span class="news-title">New Seasonal Blend Launch</span>
            <span class="news-date">18.09.2023</span>
        </div>
        <div class="news-item">
            <span class="news-title">Coffee Workshop Series</span>
            <span class="news-date">19.12.2023</span>
        </div>
        <div class="news-item">
            <span class="news-title">Sustainability Milestone</span>
            <span class="news-date">20.02.2024</span>
        </div>
        <div class="news-item">
            <span class="news-title">Latte Art Throwdown</span>
            <span class="news-date">15.01.2024</span>
        </div>
    </div>

    <div class="footer-block">
        <h4>Contact information</h4>
        <div class="news-item">
            <span class="news-title">☎️ Call Us:</span>
            <span class="news-date"> +1 (234) 567-8901 </span>
        </div>
        <div class="news-item">
            <span class="news-title">📧 Email Us: </span>
            <span class="news-date"> hello@mamakava.com</span>
        </div>
        <div class="news-item">
            <span class="news-title"> 💻 Follow Us: </span>
            <span class="news-date"><i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i> <i
                    class="fa-brands fa-square-x-twitter"></i> <i class="fa-brands fa-youtube"></i> <i
                    class="fa-brands fa-tiktok"></i></span>
        </div>

    </div>
    <div class="footer-block">
        <h4>Other lockation</h4>
        Find MAMAKAVA Coffee at These Fine Locations <br>
        <br>
        Downtown Deli & Brewsb <br>
        123 City Road, Downtown District <br>
        <br>
        The Local Market <br>
        456 Suburbia Lane, Springfield <br>
        <br>
        Riverside Café <br>
        789 Riverside Drive, Westend <br>
    </div>
</footer>