        <header>
          <!-- Hamburger dropdown menu -->
          <section class="p-menu1">
            <nav id="navbar" class="navigation" role="navigation">
              <a href="index.html"
                ><img id="logo" src="assets/no fone.png"
              /></a>
              <input id="toggle1" type="checkbox" />
              <label class="hamburger1" for="toggle1">
                <div class="top"></div>
                <div class="meat"></div>
                <div class="bottom"></div>
              </label>
            </nav>
          </section>
          <!-- end dropdown menu-->
          <nav class="menu1 hidden">
            <a class="link1" href="index.html">Home</a>
            <a class="link1" href="">Menu</a>
            <a class="link1" href="">Reservation</a>
            <a class="link1" href="">Pages</a>
            <a class="link1" href="">Blog</a>
            <a class="link1" href="">Contact</a>
            <a class="link1" href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="link1" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          </nav>

          <div class="navbar-pc">
            <div class="logo">
              <a href="index.html"
                ><img id="logo-navbar" src="assets/no fone.png"
              /></a>
            </div>
            <div class="nav-links">
              <a href="index.html">Home</a>
              <a href="#">Menu</a>
              <a href="#">Reservation</a>
              <a href="#">Pages</a>
              <a href="#">Blog</a>
              <a href="#">Contact</a>
              <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
          </div>
        </header>